<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HashTaig</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    
    <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->

  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <!--nav1 zone-->
      {% include 'main/nav1.html' %}


      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <!--nav2 zone-->
        {% include 'main/nav2.html' %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper" style="height: 80vh;">
            <div class="row ">
              <div class="col-md-12 grid-margin">
                <div class="card" style="height: 79vh;">
                  <div class="card-body">
                    <h4 class="card-title">Q&A 게시판</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th style="width: 14%; height: 48.5; padding-left: 5%;"> No </th>
                            <th style="width: 46%; height: 48.5; padding-left: 21%;"> 제목 </th>
                            <th style="width: 20%; height: 48.5;"> 작성자 </th>
                            <th style="width: 20%; height: 48.5;"> 작성시간 </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for w in info %}
                          <tr>
                            <td style="padding-left: 5%;"> {{w.article_id}} </a></td>
                              <td style="width: 60%; height: 48.5; padding-left: 10%;">
                                <a href='http://127.0.0.1:8000/qna/post/{{w.article_id}}/' style=" color: rgb(108, 114, 147)">
                                  {{w.title}}
                                  <script>
                                    var i = {{ forloop.counter }}
                                    document.write("(" + {{cnt_comment}}[i] + ")" )
                                  </script>
                                </a>
                              </td>
                            <td> {{w.user_id}} </td>
                            <td> {{w.date}} </td>
                            <td>
                          </tr>
                          {% endfor%}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div>
                    <button type="button" class="btn btn-light" style="width: 80px; font-size: 80%; margin-bottom: 2%; float: right; margin-right: 2%;" onclick = "location.href = 'http://127.0.0.1:8000/qna/create'">글 작성</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 grid-margin" style="text-align: center;">
                <div class="card" style="height: 5vh; width: 46vw; display: inline-block;">
                    <div style="width: 42vw;">
                      
                        <div style="width: 38vw; height: 5vh; text-align: center; padding-top: 1.5%; margin-left: 8%;">
                          {% for i in page_range %}
                            <a href = '{% url "qna:qna_board" %}?page={{ i }}' style="text-align: center; padding: 3%; color:rgb(108, 114, 147);"> {{ i }} </a>
                          {% endfor %}
                        </div>
                          <a href="?page=1" type="button" style="position:absolute; top: 18%; left: 05%; color:rgb(108, 114, 147);">◀</a>
                          <a href="?page=1" type="button" style="position:absolute; top: 18%; left: 93%; color:rgb(108, 114, 147);">▶</a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js 드롭다운 가능하게 하는 js-->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>