
<div class=fsize style = "text-align : center;">
    <form method="POST">
    <h2>회원정보 수정</h2>
    {% csrf_token %}
    <h5>이름:</h5>
    <textarea name='name' type="text">{{name}}</textarea>
    <h5>이메일 :</h5>
    <textarea name='email' type="email">{{email}}</textarea>
    <h5>휴대폰 번호 :</h5> 
    <textarea name='phone_num'  type="text" >{{phone_num}}</textarea>
    <br><br>
    <input class="btn" type="submit" value="변경"> 
    <a href="member/changeinfo/">
        <button type="button" class="btn">취소</button>
    </a>
    </form>
</div>  
