<!DOCTYPE html>
{% load static %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    </script>

    <title>HashTaig</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  </head>

<body>
   
  <!--header-->
  <header class="main-header clearfix" role="header" style='background-color: rgba(36, 36, 36, 0.95);'>
    <div style='font-size: 36px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);'>
    <em style="font-style: normal;color: #f5a425;">LOG</em>IN
    </div>
  </header>

  <section class="section why-us" data-section="section2" style='padding-bottom: 200px;'>
    <div class="container2">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>정보를 입력해주세요</h2>

            <div class="login-page">
              <div class="form" style='top:110%; padding-bottom: 0px;'>

                <form class="login-form" >
                  {% csrf_token %}
                  <input type="text" id='id' placeholder="ID" name="user_id"/>
                  <input type="password" id='pw' placeholder="password" name="user_pw"/>

                  
                  
                  <div style="color : white;  margin: 0; float:left; ">
                    <input type="checkbox" onclick="myFunction()" style=" margin: 0; float:left; display:inline;"/>

                    <p style="display:inline;">Show Password</p>
                  </div>
                  

                  <button type="button" id='button' onclick="login();">login</button>
                  <p class="message">Not registered? <a href="/member/information">Create an account</a></p>
                  <p class="message" style="display: inline-block;"><a href="/member/recovery/id/">Find ID / </a></p>
                  <p class="message" style="display: inline-block;"><a href="/member/recovery/pw/">Find PassWord</a></p>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> made 2022 by DGU  
          
           | Designer: <a rel="sponsored" target="_parent">SonHyeonWoo</a></p>
        </div>
      </div>
    </div>
  </footer>

<script>
  window.resizeTo(500,596);
</script>

<script>
  function password_check(pw, id) { //휴면해제할 때, 비밀번호 check
    const myformData = new FormData();
    const csrftoken = getCookie('csrftoken');
    console.log(id);
    myformData.append('user_id2', id);
    myformData.append('rest_password', pw);
    
    $.ajax({
      type: "POST",
      url: "",
      async: false,
      data: myformData,
      headers: { 'X-CSRFToken': csrftoken },
      enctype: "multipart/form-data",
      processData: false,
      contentType: false,

      error: function () {
        alert("fail!!!!!!!!");
      },
      success: function (result) {
        if (result.status == 'rest_T') {
          location.href = "/main"; 
          alert('해제되었습니다!!!')
        }
        else if (result.status == 'rest_F') {
          window.location.href='';
          alert("권한이 없습니다!");
        }
      }
    });
    };
</script>


<script>
function myFunction() {
  var x = document.getElementById("pw");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<script>
  function login() {
      var form = document.getElementsByClassName('login-form');
      const myformData = new FormData();
      const csrftoken = getCookie('csrftoken');

      myformData.append('user_id', form[0][1].value);
      myformData.append('user_pw', form[0][2].value);
      
      $.ajax({
          type : "POST",
          url : "",
          async: true,
          headers: { 'X-CSRFToken': csrftoken },
          enctype: "multipart/form-data",
          data : myformData,
          processData: false,
          contentType: false,

          error : function() {
              alert("fail!");
            },
          success : function(result) {
              if (result.status == 'T') {
                alert("로그인 완료!");
                opener.location.href = '/main'
                window.close();
              } else if(result.status == 'F'){
                alert("로그인 실패!");
                opener.location.reload();
                window.close();
              }else { 
                if (confirm('휴면계정입니다.\n휴면해제하시겠습니까?') == true) {
                  var password = prompt("비밀번호를 입력해주세요");
                  alert(result.u_id)
                  password_check(password, result.u_id);
                }
                {% comment %} opener.location.reload(); {% endcomment %}
                window.close();
              }
            }});
            
      };

</script>

<script>
  $("#id").keydown(function(keyNum){    
    if(keyNum.keyCode == 13){
      $("#button").click() }})

  $("#pw").keydown(function(keyNum){    
    if(keyNum.keyCode == 13){
      $("#button").click() }})
</script>

</body>
</html>