<!DOCTYPE html>

<script src="https://kit.fontawesome.com/b4e29eab58.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% load static %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>HashTaig</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  </head>
  <body>
  <!--header-->
  <header class="main-header clearfix" role="header" style='background-color: rgba(36, 36, 36, 0.95);'>
    <div style='font-size: 36px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);'>
    <em style="font-style: normal;color: #f5a425;">Reset</em>Password
    </div>
  </header>
  

{% block contents %}
<section class="section why-us" data-section="section2" style='padding-bottom: 200px;'>
    <div class="container2">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                <h2>정보를 입력해주세요</h2>

                    <div class="login-page">
                        <div class="form" style='top:120%; padding-bottom: 0px;'>
                            <small style="color:white" >
                                8~20개의 숫자와 문자 또는 특수기호를 입력해주세요.
                            </small>
                            <form action="" method="POST" novalidate>
                                {% csrf_token %}

                                <!--비밀번호-->
                                <div class="mb-4 md-form"  style="color:white">
                                    <label name="label_new_password1" for="{{ form.new_password1.id_for_label }}"><i
                                            class="fas fa-unlock"></i>&nbsp;&nbsp;{{ form.new_password1.label }}</label>
                                    {{ form.new_password1 }}
                                    {% comment %} <input type="text" placeholder="new_password1" id="new_password1"/> {% endcomment %}
                                    <script type="text/javascript">
                                        if (document.getElementsByName('new_password1')[0].value != '') {
                                            document.getElementsByName('label_new_password1')[0].setAttribute('class',
                                                'active');
                                        }
                                    </script>
                                    {% if form.new_password1.errors %}
                                    <script type="text/javascript">
                                        document.getElementsByName('new_password1')[0].setAttribute('class',
                                            'form-control is-invalid')
                                    </script>
                                    {% for error in form.new_password1.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <!--비밀번호확인-->
                                <div class="mb-4 md-form" style="color:white">
                                    <label name="label_new_password2" for="{{ form.new_password2.id_for_label }}"><i
                                            class="fas fa-unlock-alt"></i>&nbsp;&nbsp;{{ form.new_password2.label }}</label>
                                    {{ form.new_password2 }}
                                    {% comment %} <input type="text" placeholder="new_password2" id="new_password2"/> {% endcomment %}
                                    <script type="text/javascript">
                                        if (document.getElementsByName('new_password2')[0].value != '') {
                                            document.getElementsByName('label_new_password2')[0].setAttribute('class',
                                                'active');
                                        }
                                    </script>
                                    {% if form.new_password2.errors %}
                                    <script type="text/javascript">
                                        document.getElementsByName('new_password2')[0].setAttribute('class',
                                            'form-control is-invalid')
                                    </script>
                                    {% for error in form.new_password2.errors %}
                                    <div style="white-space: nowrap;" class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    
                                    <button class="btn btn-red" style="opacity: 90%; font-size: 16px;" onclick="alert('비밀번호 변경완료! 변경된 비밀번호로 로그인하세요.');" >
                                    RESET</button>
                                   
                                    <p class="message" style="display: inline-block;" ><a href="/member/recovery/pw">뒤로가기</a></p>
                                    <p class="message" style="display: inline-block;"><a onclick="window.close()">CLOSE</a></p>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</section>

<footer>
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <p><i class="fa fa-copyright"></i> made 2022 by DGU  
        
        | Designer: <a rel="sponsored" target="_parent">SonHyeonWoo</a></p>
    </div>
    </div>
</div>
</footer>