<script src="https://kit.fontawesome.com/b4e29eab58.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<div>
    {% csrf_token %}

        <label name="label_user_id" for="{{ form.user_id.id_for_label }}">{{ form.user_id.label }}</label>
        {{ form.user_id }}

        <label name="label_name" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}

        <label name="label_email" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email }}
        <small>
            등록하신 메일로 인증번호가 발송됩니다.
        </small>


    <div id="div_find_pw">
        <button id="find_pw" name="recovery_pw">비밀번호찾기</button>
        <button type="submit" id = "main" name="no" style="opacity: 90%; font-size: 16px; color: black; background: white;"
        class="btn btn-red" data-toggle="tooltip" data-placement="top" value="csregister" color= 'white'>뒤로가기</button>
    </div>
        
</div>

    <div id="result_pw"></div>


    <script>
        $(document).ready(function()
            {
              $('#main').click(function(){
                window.location.href = "/member/login"
              })
          })
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            
            $('#find_pw').click(function () {
                var user_id = $("#form_user_id").val();
                var name = $("#form_name").val();
                var email = $("#form_email").val();
                
                console.log(user_id);
                console.log(name);
                console.log(email);
                $.ajax({
                    type: "POST",
                    url: "/member/recovery/pw/find/",
                    dataType: "json",
                    data: {
                        'user_id': user_id,
                        'name': name,
                        'email': email,
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                    },
                    success: function (response) {
                        console.log(response);
                        $('#result_pw').replaceWith(
                            '<div id="result_pw"><hr><div><span>입력된 정보로 가입된 아이디는 </span><span id="result_pw">' +
                                response.result_id +'</span><span> 입니다.</span></div><hr></div>')
                    },
                    error: function () {
                        if (name == "" || email == "") {
                            alert('이름와 이메일을 입력해주세요.');
                        } else {
                            alert('입력하신 정보가 일치하지 않거나 존재하지 않습니다.');
                        }
                    },
                });
            })
        });
    </script>
</div>




<script>
function countdown( elementName, minutes, seconds ) {
    var elementName, endTime, hours, mins, msLeft, time;
    function twoDigits( n ) {
        return (n <= 9 ? "0" + n : n);
    }
    function updateTimer() {
        msLeft = endTime - (+new Date);
        if ( msLeft < 1000 ) {
            alert("인증시간이 초과되었습니다.");
            $("" + elementName).remove();
            cert_ok = false;
            certificationNum = false;
            location.href = "{% url 'member:recovery_pw' %}"
        } else {
            time = new Date( msLeft );
            hours = time.getUTCHours();
            mins = time.getUTCMinutes();
            $("" + elementName).html((hours ? hours + ':' + twoDigits( mins ) : twoDigits(mins))
            + ':' + twoDigits( time.getUTCSeconds()));
            setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
        }
    }
    endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
    updateTimer();
}
countdown("#timeset", 5, 0);
</script>