<!DOCTYPE html>
{% load static %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    
    <script>
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    </script>

    <title>HashTaig</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  </head>

<body>
   
  <!--header-->
  <header class="main-header clearfix" role="header" style='background-color: rgba(36, 36, 36, 0.95);'>
    <div style='font-size: 36px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);'>
    <em style="font-style: normal;color: #f5a425;">SIGN</em> UP
    </div>
  </header>

  <section class="section why-us" data-section="section2" style='padding-bottom: 435px;'>
    <div class="container2">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            
            <h2>정보를 입력해주세요</h2>
            <div class="login-page">
              <div class="form">
                <form class="login-form" method="post">
                  <style>
                    .form{
                      top : 170%;
                    }
                    .form input{
                      padding: 10px;
                    }
                  </style>
                  {% csrf_token %}
                  <input type="text" name="user_id" placeholder="아이디"/>
                  <input type="password" name="pw" placeholder="비밀번호"/>
                  <input type="password" name="pw2" placeholder="비밀번호 확인"/>
                  <input type="text" name="name" placeholder="이름"/>
                  <input type="date" name="birth_date" data-bind="dateOfBirth" />  
                  <input type="email" name="email" placeholder="email"/>
                  <input type="text" name="phone_num" placeholder="전화번호"/>
                  <button type="button" onclick="signup();" >create</button>
                  <p class="message">Already registered? <a href="/member/login">Sign In</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> made 2022 by DGU  
          
            Designer: <a rel="sponsored" target="_parent">SonHyeonWoo</a></p>
        </div>
      </div>
    </div>
  </footer>

    <script> window.resizeTo(500,909);</script> 

    <script>
        // 회원가입 - 생년월일 - 달력 띄우는 JS
        // Declare a global object to store view data.
        var viewData;
        viewData = {};
        $(function() {
            // Update the viewData object with the current field keys and values.
            function updateViewData(key, value) {
                viewData[key] = value;
            }
            // Register all bindable elements
            function detectBindableElements() {
                var bindableEls;
                bindableEls = $('[data-bind]');
                // Add event handlers to update viewData and trigger callback event.
                bindableEls.on('change', function() {
                    var $this;
                    $this = $(this);
                    updateViewData($this.data('bind'), $this.val());
                    $(document).trigger('updateDisplay');
                });
                // Add a reference to each bindable element in viewData.
                bindableEls.each(function() {
                    updateViewData($(this));
                });
            }

            // Trigger this event to manually update the list of bindable elements, useful when dynamically loading form fields.
            $(document).on('updateBindableElements', detectBindableElements);

            detectBindableElements();
        });

        $(function() {
            // An example of how the viewData can be used by other functions.
            function updateDisplay() {
                var updateEls;

                updateEls = $('[data-update]');

                updateEls.each(function() {
                    $(this).html(viewData[$(this).data('update')]);
                });
            }

            // Run updateDisplay on the callback.
            $(document).on('updateDisplay', updateDisplay);
        });
    </script>

    <script>
        function signup() {
            var form = document.getElementsByClassName('login-form');
            const myformData = new FormData();
            const csrftoken = getCookie('csrftoken');

            myformData.append('user_id', form[0][1].value);
            myformData.append('pw', form[0][2].value);
            myformData.append('pw2', form[0][3].value);
            myformData.append('name', form[0][4].value);
            myformData.append('birth_date', form[0][5].value);
            myformData.append('email', form[0][6].value);
            myformData.append('phone_num', form[0][7].value);

            $.ajax({
                type : "POST",
                url : "",
                async: true,
                headers: { 'X-CSRFToken': csrftoken },
                enctype: "multipart/form-data",
                data : myformData,
                processData: false,
                contentType: false,
                
                error : function() {
                    alert("fail!");
                  },
                success : function(result) {
                  if (result.status == 'empty_error') {
                    alert('공란을 채워주세요!')
                    window.location.href = '/member/signup'; 
                  } 
                  else if (result.status == 'pw_error') {
                    alert('비밀번호를 다시 확인해주세요!')
                    window.location.href = '/member/signup'; 
                  } 
                  else if (result.status == 'id_error') {
                    alert('이미 존재하는 ID 입니다!')
                    window.location.href = '/member/signup'; 
                  }
                  else if (result.status == 'email_error') {
                    alert('이메일 양식을 확인해주세요')
                    window.location.href = '/member/signup';                     
                  }
                  else {
                    alert("가입 완료!");
                    opener.location.href = '/'; //부모창 리프레쉬
                    self.close(); //현재창 닫기
                  }
                  }});
            };
    </script> 
</body>
</html>




