{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="{% static 'assets/css/star.css' %}">

<style>
  @font-face {
    font-family: 'adobaonlyR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/adobaonlyR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  .main-panel {
    font-family: 'adobaonlyR';
  }
  </style>

<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
<div id="ex1" class="col-xl-3 col-md-6 modal" style="height: auto; background-color: #525768; position: relative; margin-top: 5%;">
  <div class="card">
    <div class="card-body" style="text-align: center; width: 100%; display: inline-block;">
      <form class = "review-form">
        {% csrf_token %}
      <h5>☺ HashTaig의 서비스를 평가해주세요 ☺</h5>
      <div style="text-align: center; width: auto;">
        <div class="star-rating" style="margin-top: 10%; margin-bottom: 10%; width: auto;">
          <input type="radio" id="5-stars" name="rating" value="5" />
          <label for="5-stars" class="star">&#9733;</label>
          <input type="radio" id="4-stars" name="rating" value="4" />
          <label for="4-stars" class="star">&#9733;</label>
          <input type="radio" id="3-stars" name="rating" value="3" />
          <label for="3-stars" class="star">&#9733;</label>
          <input type="radio" id="2-stars" name="rating" value="2" />
          <label for="2-stars" class="star">&#9733;</label>
          <input type="radio" id="1-star" name="rating" value="1" />
          <label for="1-star" class="star">&#9733;</label>
        </div>
      </div>
      <h4 style="margin-top: 10%; margin-bottom: 10%;">Feedback</h4>
      
      <body>
        <div class="form-group row">
          <textarea name='content' id="feedback" class="col-12" style="height: 35vh; padding-left: 10px; padding-top: 5px;"
            placeholder="내용을 입력해 주세요"></textarea>
        </div>
        <div style="display: inline-block;">
          <div style="width: 100%; text-align: center">
              <button type="button" value="Submit" class="btn btn-light" style="float: left; margin-right: 10px;"
              onclick = 'getScore()'>완료</button>
              <a type="button" class="btn btn-light" href="#" rel="modal:close">닫기</a>
          </div>
        </div>
        
        

        <div id='result1' style='display:none'></div>
        <div id='result2' style='display:none'></div>
      </form>
      </body>
      <!--
      <form class = "review-form">
        {% csrf_token %}
      <article id='ar'>
        <h4>☺ HashTaig의 서비스를 평가해주세요 ☺</h4>
        <div class="star-rating">
          <input type="radio" id="5-stars" name="rating" value="5" />
          <label for="5-stars" class="star">&#9733;</label>
          <input type="radio" id="4-stars" name="rating" value="4" />
          <label for="4-stars" class="star">&#9733;</label>
          <input type="radio" id="3-stars" name="rating" value="3" />
          <label for="3-stars" class="star">&#9733;</label>
          <input type="radio" id="2-stars" name="rating" value="2" />
          <label for="2-stars" class="star">&#9733;</label>
          <input type="radio" id="1-star" name="rating" value="1" />
          <label for="1-star" class="star">&#9733;</label>
        </div>
        <h4>Feedback</h4>
        <body>
            <p><textarea id="feedback" cols="40" rows="10"></textarea></p>
            <p><input type="button" value="Submit" onclick ='getScore()'></p>
            <div id='result1'></div>
            <div id='result2'></div>
          </form>
        </body>
      </article>
      <a href="#" rel="modal:close">닫기</a>
      -->
    </div>
  </div>
</div>


<script>
  var real_real_key;
  function test1(key) {
    {% comment %} var tmp = document.getElementById("logId").getAttribute('value'); {% endcomment %}
    {% comment %} alert(key); {% endcomment %}
    {% comment %} var tmp = document.getElementById(key).value; {% endcomment %}
    real_real_key = getScore(key);
    return key;
  }
  function getScore() { 
  switch(arguments.length){
    case 0 :
        // 라디오 버튼에 저장된 별점
        const ScoreList = document.getElementsByName('rating');
        var score;
        ScoreList.forEach((node) => {
          if(node.checked)  {
            document.getElementById('result1').innerText
              = node.value;
            score = node.value;
          }
        })

        //feedback내용
        var txtBox = document.getElementById('feedback')
        var lines = txtBox.value.split("\n");
        // generate HTML version of text
        var resultString  = "<p>";
        for (var i = 0; i < lines.length; i++) {
          resultString += lines[i] + "<br />";
        }
        resultString += "</p>";
        // print out to page
        var   blk   = document.getElementById("result2");
        blk.innerHTML  =  resultString;

      

        var form = document.getElementsByClassName('review-form');
        const myformData = new FormData();
        const csrftoken = getCookie('csrftoken');
        
        myformData.append('score', score);
        myformData.append('feedback', form[0][6].value);
        myformData.append('key', real_real_key)

        $.ajax({
          type: "POST",
          url: "",
          async: true,
          headers: { 'X-CSRFToken': csrftoken },
          enctype: "multipart/form-data",
          data: myformData,
          processData: false,
          contentType: false,

          error: function () {
            alert("fail!");
          },
          success: function (result) {
            if (result.status == 'T') {
              window.location.href = '';
              alert("제출 완료!");
            } else {
              window.location.href = '';
              alert(score);
              alert(form[0][6].value);
              alert("평점 or feedback내용을 입력해주세요");
            }

          }
        });
        break;
    case 1:
        var real_key = arguments[0]
        {% comment %} console.log(real_key) {% endcomment %}
    return real_key;
  }
  };
</script>

  