<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HashTaig</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/css/image_upload.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-grad-school.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->

    <script src="https://kit.fontawesome.com/b4e29eab58.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      
      <!--nav1 zone-->
      {% include 'main/nav1.html' %}


      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <!--nav2 zone-->
        {% include 'main/nav2.html' %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="section-heading">
                      <h2>어떤 가치를 전해주나요?</h2>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div id='tabs'>
                      <ul>
                        <li><a href='#tabs-1'>AI 해시태그 추천</a></li>
                        <li><a href='#tabs-2'>AI 이미지 분석</a></li>
                        <li><a href='#tabs-3'>해시태그 분석 시각화</a></li>
                      </ul>
                      <section class='tabs-content'>
                        <article id='tabs-1'>
                          <div class="row">
                            <div class="col-md-6">
                              <img src="{% static 'assets/images/Insta-Hashtag.png' %}" alt="">
                            </div>
                            <div class="col-md-6">
                              <h4>AI 해시태그 추천</h4>
                              <p>사용자가 올린 이미지를 분석하여 노출빈도를 높이는 최적의 해시태그를 AI 알고리즘을 통해서 추천해드려요. </p>
                              <p>당신의 시간은 소중하니깐 더 이상 한글자 한글자 타이핑하지 않아도 될꺼에요!</p> 
                            </div>
                          </div>
                        </article>
                        <article id='tabs-2'>
                          <div class="row">
                            <div class="col-md-6">
                              <img src="{% static 'assets/images/brain-image.jpg' %}" alt="">
                            </div>
                            <div class="col-md-6">
                              <h4>AI 이미지 분석</h4>
                              <p>사용자가 올린 이미지에 설명을 더 해줄거에요. 구구절절!</p> 
                              <p>AI 모델은 과연 당신이 올린 사진의 의도를 읽을 수 있을까요?</p>
                            </div>
                          </div>
                        </article>
                        <article id='tabs-3'>
                          <div class="row">
                            <div class="col-md-6">
                              <img src="{% static 'assets/images/data-visualization.png' %}" alt="">
                            </div>
                            <div class="col-md-6">
                              <h4>해시태그 분석 시각화</h4>
                              <p>어떤 해시태그가 어느 정도로 사용되고 있는건지 너무 궁금한데요?</p>
                              <p>HashTaig는 추천하고 있는 해시태그의 사용빈도 등을 한눈에 보기 쉽도록 정리해줄거에요!</p>
                            </div>
                          </div>
                        </article>
                      </section>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">AI대구경북 화이팅</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> made by jimi</a></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js 드롭다운 가능하게 하는 js-->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'assets/js/dashboard.js' %}"></script>

    <script type="text/javascript"> 
      function Logout() {
        sessionStorage.clear();
        alert("로그아웃 되었습니다.");
        location.href = "/member/logout";
      }
    </script>

    <script>
      (function() {
  
          function FileUploader(selector) {
            if (undefined !== selector) {
              this.init(selector);
            }
          }
          
          FileUploader.prototype.init = function(selector) {
            if (undefined !== this.$el) {
              this.unsuscribe();
            }
            
            this.$el = document.querySelector(selector);
            this.$fileInput = this.$el.querySelector('input');
            this.$img = this.$el.querySelector('img');
            
            this.suscribe();
          }

          FileUploader.prototype.suscribe = function() {
            this.$fileInput.addEventListener('change', _handleInputChange.bind(this));
            this.$img.addEventListener('load', _handleImageLoaded.bind(this));
            this.$el.addEventListener('dragenter', _handleDragEnter.bind(this));
            this.$el.addEventListener('dragleave', _handleDragLeave.bind(this));
            this.$el.addEventListener('drop', _handleDrop.bind(this));
          }
          
          FileUploader.prototype.unsuscribe = function() {
            this.$fileInput.removeEventListener('change', _handleInputChange.bind(this));
            this.$img.removeEventListener('load', _handleImageLoaded.bind(this));
            this.$el.removeEventListener('dragenter', _handleDragEnter.bind(this));
            this.$el.removeEventListener('dragleave', _handleDragLeave.bind(this));
            this.$el.removeEventListener('drop', _handleDrop.bind(this));
          }

          function _handleDragEnter(e){
            e.preventDefault();

            if (!this.$el.classList.contains('dragging')) {
                this.$el.classList.add('dragging');
            }
          }

          function _handleDragLeave(e) {
            e.preventDefault();

            if (this.$el.classList.contains('dragging')) {
                this.$el.classList.remove('dragging');
            }
          }

          function _handleDrop(e) {
            e.preventDefault();
            this.$el.classList.remove('dragging');
            this.$img.files = e.dataTransfer.files;
            this.$fileInput.files = e.dataTransfer.files;
            _handleInputChange.call(this);
          }

          function _handleImageLoaded() {
            if (!this.$img.classList.contains('loaded')) {
                this.$img.classList.add('loaded');
            }
          }

          function _handleInputChange(e) {
            var file = (undefined !== e)
                ? e.target.files[0]
                : this.$img.files[0];

            var pattern = /image-*/;
            var reader = new FileReader();

            if (!file.type.match(pattern)) {
                alert('invalid format');
                return;
            }

            if (this.$el.classList.contains('loaded')) {
                this.$el.classList.remove('loaded');
            }

            reader.onload = _handleReaderLoaded.bind(this);
            reader.readAsDataURL(file);
          }

          function _handleReaderLoaded(e) {
            var reader = e.target;
            this.$img.src = reader.result;
            this.$el.classList.add('loaded');
          }
          
          window.FileUploader = FileUploader;
          
        } ());


        new FileUploader('.uploader');
    </script>
    <!-- End custom js for this page -->
  </body>
</html>