<!DOCTYPE html>
{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo" href="http://127.0.0.1:8000/main/"><img src="{% static 'assets/images/logo3.svg' %}" style = 'width:50%; height:auto; margin: 5%; padding-left:5%' alt="logo" /></a>
      <a class="sidebar-brand brand-logo-mini" href="http://127.0.0.1:8000/main/"><img src="{% static 'assets/images/logo-mini3.svg' %}" alt="logo" /></a>
    </div>
    <ul class="nav">
      <!-- 프로필 -->
      <li class="nav-item profile">
        <div class="profile-desc">
          <div class="profile-pic">
            <div class="count-indicator">
              <img class="img-xs rounded-circle " src="{% static 'assets/images/faces/face15.jpg' %}" alt="">
              <span class="count bg-success"></span>
            </div>
            <div class="profile-name">
              <h5 class="mb-0 font-weight-normal">{{user}}</h5>
              {% comment %} <p style="font-size: 13px; color: navajowhite;"></p> {% endcomment %}
              {% comment %} <a href="javascript:Logout()">Logout</a> {% endcomment %}
            </div>
          </div>

          <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
            <a href="https://www.instagram.com/" target="_blank" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-settings text-primary"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Instagram</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a onclick = "javascript:showPopUp_nav('pw')" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-onepassword  text-info"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">비밀번호 변경</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a onclick = "javascript:showPopUp_nav('info')" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-calendar-today text-success"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">회원정보 변경</p>
              </div>
            </a>
          </div>
        </div>
      </li>

      <!-- 네비게이션 -->
      <li class="nav-item nav-category">
        <span class="nav-link">Navigation</span>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="http://127.0.0.1:8000/main/function/">
          <span class="menu-icon">
            <i class="mdi mdi-contacts"></i>
          </span>
          <span class="menu-title">우리의 정신</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="http://127.0.0.1:8000/main/">
          <span class="menu-icon">
            <i class="mdi mdi-chart-bar"></i>
          </span>
          <span class="menu-title">분석페이지</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="http://127.0.0.1:8000/qna/">
          <span class="menu-icon">
            <i class="mdi mdi-file-document-box"></i>
          </span>
          <span class="menu-title">Q&A게시판</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="http://127.0.0.1:8000/member/">
          <span class="menu-icon">
            <i class="mdi mdi-contacts"></i>
          </span>
          <span class="menu-title">마이페이지</span>
        </a>
      </li>
      {% comment %} <li class="nav-item menu-items">
        <a class="nav-link" href="#ex1" rel="modal:open">
          <span class="menu-icon">
            <i class="mdi mdi-star"></i>
          </span>
          <span class="menu-title">리뷰 작성하기</span>
        </a>
      </li> {% endcomment %}
    </ul>
  </nav>

  <script type="text/javascript">
    function showPopUp_nav(x) {
      //창 크기 지정
      var width = 500; 
      
      //pc화면기준 가운데 정렬 
      var left = (window.screen.width / 2) - (width/2);
      
      //윈도우 속성 지정 
      
      //연결하고싶은url 
      //등록된 url 및 window 속성 기준으로 팝업창을 연다. 

      window.name = "title";
      // window name 
      var newWindow;
      if (x == 'pw') {
        var height = 617; 
        var top = (window.screen.height / 4); 
        var windowStatus = 'width='+width+', height='+height+', left='+left+', top='+top+', scrollbars=yes, status=yes, resizable=yes, titlebar=yes';
        newWindow = window.open('/member/changepw',"changepw", windowStatus);
      } else if (x == 'info') {
        var height = 630; 
        var top = (window.screen.height / 4); 
        var windowStatus = 'width='+width+', height='+height+', left='+left+', top='+top+', scrollbars=yes, status=yes, resizable=yes, titlebar=yes';
        newWindow = window.open('/member/changeinfo',"changeinfo", windowStatus);
      }
      
    };
</script>
